<VirtualHost *:80>
 ServerAdmin webmaster@centos.org
 ServerName download.stream.rdu2.redhat.com
 CustomLog logs/download.stream.rdu2.redhat.com combined
 ErrorLog logs/download.stream.rdu2.redhat.com_error.log
 DocumentRoot /mnt/centos
 AddDescription "{{ inventory_hostname }}" server.id
 ReadmeName /centos-design/footer.html
 HeaderName /centos-design/header-centos-stream-composes.html
 IndexIgnoreReset ON
 IndexIgnore *~ *# HEADER* README* RCS CVS *,v *,t FOOTER.html

 Header set Cache-Control "max-age=500,public"
<Directory "/mnt/centos">
    Options +Indexes
    IndexOptions NameWidth=* FancyIndexing
    AddDescription "{{ inventory_hostname }}" server.id
    HeaderName /centos-design/header-centos-stream-composes.html
    IndexIgnoreReset ON
    IndexIgnore *~ *# HEADER* README* RCS CVS *,v *,t FOOTER.html
    <RequireAny>
        Require method GET
    </RequireAny>
</Directory>
</VirtualHost>
