NameVirtualHost *:443
SSLPassPhraseDialog exec:/usr/libexec/httpd-ssl-pass-dialog
SSLSessionCache         shmcb:/run/httpd/sslcache(512000)
SSLSessionCacheTimeout  300
SSLRandomSeed startup file:/dev/urandom  256
SSLRandomSeed connect builtin
SSLCryptoDevice builtin
SSLHonorCipherOrder on
SSLProtocol all -SSLv2 -SSLv3

SSLCipherSuite ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:+MEDIUM:+LOW:!aNULL:!eNULL:!DES:!MD5:!PSK:!RC4

Listen 443 https
<VirtualHost *:443>
SSLEngine on

SSLCertificateFile /etc/pki/tls/certs/{{ odcs_frontend_hostname }}.crt
SSLCertificateKeyFile /etc/pki/tls/private/{{ odcs_frontend_hostname }}.key
SSLCertificateChainFile /etc/pki/tls/certs/{{ odcs_frontend_ca_crt }}
</VirtualHost>
