[Unit]
Description=ODCS Celery Cleanup
After=network.target

[Service]
Type=Simple
User=odcs-server
Group=odcs-server
ExecStart=/bin/sh -c '/usr/bin/celery-3 beat --workdir /tmp --loglevel=debug -A odcs.server.celery_tasks'

[Install]
WantedBy=multi-user.target
